<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Article Pôle Social</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/assets//favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets//apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/assets//site.webmanifest" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body class="events-page">

  <header id="header" class="header fixed-top ">

    <div class="topbar d-flex align-items-center mb-2">
      <div class="container d-flex justify-content-md-between">
        <div class="contact-info d-flex align-items-center justify-content-around justify-content-md-between">
          <p><i class="bi bi-stars"></i>Article <a href="#">Pôle Social</a></a></p>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="https://www.tiktok.com/@jsf.782?lang=fr" class="tiktok" target="_blank"><i class="bi bi-tiktok"></i></a>
          <a href="https://www.facebook.com/people/Jeunesse-Sans-Fronti%C3%A8res-78/100067145863881/?locale=hi_IN" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/jeunessesansfrontieres.78/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/company/jeunesse-sans-fronti%C3%A8res-78/?originalSubdomain=fr" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.youtube.com/@Jeunessesansfrontieres78" class="instagram" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="container d-flex align-items-center justify-content-between">
      <div>
        <li class="d-flex gap-2"><i class="bi bi-arrow-left-square" style="color: white;"></i><a href="/index.html" class="nav-item-2">Retour au site</a></li>
      </div>
      <h1 class="logo-2">
        <a href="#" class="logo-2">Pôle Social</a>
      </h1>
    </div>
  </header>
  
  <main class="main">
    <!-- Page Title -->
    <div class="page-title-2 dark-background" data-aos="fade" style="background-image: url(/assets/img/hero/hero-culturel.webp);">
      <div class="container position-relative">
        <h1>Le Pôle Social s’agrandit !</h1>
        <p>Jeunesse Sans Frontières continue de renforcer son engagement en faveur de la jeunesse avec un pôle social en pleine expansion. </p>
      </div>
    </div><!-- End Page Title -->
    
    <div class="page-title" data-aos="fade">
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li class="d-flex gap-2"><i class="bi bi-arrow-left-square"></i><a href="/index.html">Retour au site</a></li>
          </ol>
        </div>
      </nav>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-lg-12">
  
            <!-- Blog Details Section -->
            <section id="blog-details" class="blog-details section">
              <div class="container">
  
                <article class="article">
  
                  <div class="post-img">
                    <img src="/assets/img/tab/tab-social.png" class="img-fluid w-100" alt="">

                  </div>
  
                  <h2 class="title">Le Pôle Social s’agrandit : Sorties, Insertion et Engagement</h2>
  
                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Kheira</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">Année 2023-2024</time></a></li>
                      <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12 Comments</a></li> -->
                    </ul>
                  </div><!-- End meta top -->
  
                  <div class="content">
                    <h3>Des sorties à thème pour se divertir et s’enrichir</h3>
                    <p>
                      Jeunesse Sans Frontières continue de renforcer son engagement en faveur de la jeunesse avec un pôle social en pleine expansion. Conçu pour accompagner les jeunes dans leur parcours personnel et professionnel, le pôle social propose désormais un programme encore plus riche et diversifié.
                    </p>
                    <p>
                      Parmi les nouveautés de cette année, de nombreuses sorties à thème sont organisées, offrant aux jeunes, aux adhérents et aux bénévoles des occasions uniques de découvrir de nouveaux environnements et de s’ouvrir à des sujets variés. Ces sorties sont pensées pour allier divertissement et apprentissage, permettant aux participants de partager des expériences communes, de tisser des liens et de renforcer leur esprit de curiosité.
                    </p>

                    <h3>Un accompagnement vers l’insertion professionnelle</h3>
                    <p>
                      L’insertion professionnelle est une priorité pour Jeunesse Sans Frontières. Le pôle social intègre des ateliers de préparation à l’emploi, des rencontres avec des professionnels et des sessions de mentorat.
                    </p>
                    <p>
                      Ces actions visent à offrir aux jeunes les outils nécessaires pour réussir leur entrée dans le monde du travail, que ce soit par le biais de la recherche d’emploi, la construction d’un projet professionnel ou encore le développement des compétences clés.
                    </p>
  
                    <blockquote>
                      <p>
                        "Chaque expérience partagée est une occasion pour les jeunes de grandir, de s'épanouir et de construire un avenir prometteur ensemble."
                      </p>
                    </blockquote>
  
                    <h3>Des interventions et des actions pour sensibiliser et mobiliser</h3>
                    <p>
                      Pour répondre aux enjeux de société, le pôle social organise également des interventions et des actions de sensibilisation sur des thèmes actuels et importants pour la jeunesse. 
                    </p>
                    <p>
                      Ces interventions, menées par des experts, permettent d’aborder des sujets tels que l’environnement, la citoyenneté, la solidarité, et bien d’autres. En s’engageant dans ces actions, les jeunes deviennent acteurs du changement, développant leur esprit critique et leur conscience sociale.
                    </p>

                    <h3>Un espace pour grandir et s’engager</h3>
                    <p>
                      Le développement du pôle social vise à offrir aux jeunes un espace d’épanouissement et d’engagement. À travers ces sorties, programmes d’insertion, interventions et actions, Jeunesse Sans Frontières souhaite favoriser l’inclusion et l’autonomie des jeunes.
                    </p>
                    <p>
                      Ce pôle représente un lieu de rencontres, de partages et d’enrichissement mutuel, où chaque jeune peut trouver sa place et construire un avenir prometteur.
                    </p>
  
                  </div><!-- End post content -->
  
                  <div class="meta-bottom">
                    <i class="bi bi-folder"></i>
                    <ul class="cats">
                      <li><a href="#">JSF Social</a></li>
                    </ul>
  
                    <i class="bi bi-tags"></i>
                    <ul class="tags">
                      <li><a href="#">#Engagementetpartage</a></li>
                      <li><a href="#">#Accompagnementjeunesse</a></li>
                    </ul>
                  </div><!-- End meta bottom -->
  
                </article>
  
              </div>
            </section><!-- /Blog Details Section -->
  
            <!-- Blog Author Section -->
            <!-- <section id="blog-author" class="blog-author section">
              <div class="container">
                <h4 class="comments-count pb-2">3 Témoignages</h4>
                <div class="author-container d-flex align-items-center">
                  <img src="/assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                  <div>
                    <h4>Nom Prénom</h4>
                    <div class="social-links">
                      <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                      <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                      <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                    </div>
                    <p>
                      Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </section> -->
            <!-- /Blog Author Section -->
  
            <!-- Blog Comments Section -->
            <!-- <section id="blog-comments" class="blog-comments section">
  
              <div class="container">
  
                <h4 class="comments-count">8 Comments</h4>
  
                <div id="comment-1" class="comment">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/assets/img/blog/comments-1.jpg" alt=""></div>
                    <div>
                      <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan,2022</time>
                      <p>
                        Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                        Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div id="comment-2" class="comment">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/assets/img/blog/comments-2.jpg" alt=""></div>
                    <div>
                      <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan,2022</time>
                      <p>
                        Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                      </p>
                    </div>
                  </div>
  
                  <div id="comment-reply-1" class="comment comment-reply">
                    <div class="d-flex">
                      <div class="comment-img"><img src="/assets/img/blog/comments-3.jpg" alt=""></div>
                      <div>
                        <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                        <time datetime="2020-01-01">01 Jan,2022</time>
                        <p>
                          Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.
  
                          Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.
  
                          Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                        </p>
                      </div>
                    </div>
  
                    <div id="comment-reply-2" class="comment comment-reply">
                      <div class="d-flex">
                        <div class="comment-img"><img src="/assets/img/blog/comments-4.jpg" alt=""></div>
                        <div>
                          <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                          <time datetime="2020-01-01">01 Jan,2022</time>
                          <p>
                            Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                          </p>
                        </div>
                      </div>
  
                    </div>
  
                  </div>
  
                </div>
  
                <div id="comment-3" class="comment">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/assets/img/blog/comments-5.jpg" alt=""></div>
                    <div>
                      <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan,2022</time>
                      <p>
                        Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                        Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                      </p>
                    </div>
                  </div>
  
                </div>
              </div>
  
            </section> -->
            <!-- /Blog Comments Section -->
  
          </div>
        </div>
    </div>
    
  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>