<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Article Ambition IKIGAI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/assets//favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets//apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="/assets//site.webmanifest" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body class="events-page">

  <header id="header" class="header fixed-top ">

    <div class="topbar d-flex align-items-center mb-2">
      <div class="container d-flex justify-content-md-between">
        <div class="contact-info d-flex align-items-center justify-content-around justify-content-md-between">
          <p><i class="bi bi-stars"></i>Article <a href="#">Ambition IKIGAI</a></p>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="https://www.tiktok.com/@jsf.782?lang=fr" class="tiktok" target="_blank"><i class="bi bi-tiktok"></i></a>
          <a href="https://www.facebook.com/people/Jeunesse-Sans-Fronti%C3%A8res-78/100067145863881/?locale=hi_IN" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/jeunessesansfrontieres.78/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/company/jeunesse-sans-fronti%C3%A8res-78/?originalSubdomain=fr" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.youtube.com/@Jeunessesansfrontieres78" class="instagram" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="container d-flex align-items-center justify-content-between">
      <div>
        <li class="d-flex gap-2"><i class="bi bi-arrow-left-square" style="color: white;"></i><a href="/index.html" class="nav-item-2">Retour au site</a></li>
      </div>
      <h1 class="logo-2">
        <a href="#" class="logo-2">Ambition IKIGAI</a>
      </h1>
    </div>
  </header>
  
  <main class="main">
    <!-- Page Title -->
    <div class="page-title-2 dark-background" data-aos="fade" style="background-image: url(/assets/img/hero/hero-ikigai.webp);">
      <div class="container position-relative">
        <h1>Ambition IKIGAI revient !</h1>
        <p>C’est officiel, le projet Ambition IKIGAI revient pour une nouvelle édition, et cette année s'annonce pleine de promesses !</p>
      </div>
    </div><!-- End Page Title -->
    
    <div class="page-title" data-aos="fade">
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li class="d-flex gap-2"><i class="bi bi-arrow-left-square"></i><a href="/index.html">Retour au site</a></li>
          </ol>
        </div>
      </nav>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-lg-12">
  
            <!-- Blog Details Section -->
            <section id="blog-details" class="blog-details section">
              <div class="container">
  
                <article class="article">
  
                  <div class="post-img">
                    <img src="/assets/templates/img/ambition-ikigai/mams-ambition-ikigai.jpg" alt="" class="img w-100 resize-mams-ikigai">
                  </div>
  
                  <h2 class="title">Ambition IKIGAI revient ! La 3ème édition est lancée</h2>
  
                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">Mamadou</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">Nouveauté</time></a></li>
                      <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12 Comments</a></li> -->
                    </ul>
                  </div><!-- End meta top -->
  
                  <div class="content">
                    <h3>Un court métrage créé par et pour les jeunes</h3>
                    <p>
                      C’est officiel, le projet Ambition IKIGAI revient pour une nouvelle édition, et cette année s'annonce pleine de promesses ! Pour sa troisième édition, le programme s’enrichit de nouveautés conçues pour engager encore davantage les jeunes dans la découverte de leurs passions et la construction de leur avenir.
                    </p>
                    <p>
                      Cette édition introduit un projet inédit : la création d’un court métrage. En s’impliquant dans toutes les étapes de la production, les jeunes auront l’occasion de découvrir les coulisses du cinéma, de l’écriture du scénario à la réalisation, en passant par le jeu d’acteur. Ce court métrage, fruit de leur créativité et de leur réflexion, sera un moyen puissant de mettre en lumière leurs talents et de donner vie à leurs idées.
                    </p>

                    <h3>Des randonnées nature pour se ressourcer et se reconnecter</h3>
                    <p>
                      Autre nouveauté cette année : des randonnées nature. Ces excursions permettront aux jeunes de s’évader du quotidien, de se ressourcer en pleine nature et de découvrir la richesse de l’environnement qui les entoure. Ces randonnées sont une occasion unique de renforcer la cohésion de groupe, de prendre du recul et d’explorer des paysages inspirants, tout en promouvant la sensibilisation écologique.
                    </p>
  
                    <blockquote>
                      <p>
                        "Avec Ambition IKIGAI, chaque jeune est invité à donner vie à ses rêves, à explorer ses passions et à se réaliser pleinement."
                      </p>
                    </blockquote>
  
                    <h3>Des nouveautés au service de l’ambition et de l’authenticité</h3>
                    <p>
                      Cette édition d'Ambition IKIGAI a pour objectif de guider chaque jeune à travers des ateliers pratiques, des sessions d’intervention et des projets innovants. L'accent est mis sur l’expression personnelle et l’engagement actif, afin que chaque participant puisse explorer son potentiel et trouver sa propre voie.
                    </p>

                    <h3>Un espace pour rêver et grandir ensemble</h3>
                    <p>
                      Avec Ambition IKIGAI, nous offrons un espace de partage, de créativité et de dépassement de soi. Plus qu’un projet, cette édition est un lieu de rencontres et d’échanges, où chaque jeune peut se sentir libre d'explorer ses aspirations
                    </p>
  
                  </div><!-- End post content -->
  
                  <div class="meta-bottom">
                    <i class="bi bi-folder"></i>
                    <ul class="cats">
                      <li><a href="#">JSF Social</a></li>
                    </ul>
  
                    <i class="bi bi-tags"></i>
                    <ul class="tags">
                      <li><a href="#">#AmbitionIKIGAI</a></li>
                      <li><a href="#">#Accompagnementjeunesse</a></li>
                    </ul>
                  </div><!-- End meta bottom -->
  
                </article>
  
              </div>
            </section><!-- /Blog Details Section -->
  
            <!-- Blog Author Section -->
            <!-- <section id="blog-author" class="blog-author section">
              <div class="container">
                <h4 class="comments-count pb-2">3 Témoignages</h4>
                <div class="author-container d-flex align-items-center">
                  <img src="/assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                  <div>
                    <h4>Nom Prénom</h4>
                    <div class="social-links">
                      <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                      <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                      <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                    </div>
                    <p>
                      Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                    </p>
                  </div>
                </div>
              </div>
            </section> -->
            <!-- /Blog Author Section -->
  
            <!-- Blog Comments Section -->
            <!-- <section id="blog-comments" class="blog-comments section">
  
              <div class="container">
  
                <h4 class="comments-count">8 Comments</h4>
  
                <div id="comment-1" class="comment">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/assets/img/blog/comments-1.jpg" alt=""></div>
                    <div>
                      <h5><a href="">Georgia Reader</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan,2022</time>
                      <p>
                        Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                        Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div id="comment-2" class="comment">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/assets/img/blog/comments-2.jpg" alt=""></div>
                    <div>
                      <h5><a href="">Aron Alvarado</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan,2022</time>
                      <p>
                        Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
                      </p>
                    </div>
                  </div>
  
                  <div id="comment-reply-1" class="comment comment-reply">
                    <div class="d-flex">
                      <div class="comment-img"><img src="/assets/img/blog/comments-3.jpg" alt=""></div>
                      <div>
                        <h5><a href="">Lynda Small</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                        <time datetime="2020-01-01">01 Jan,2022</time>
                        <p>
                          Enim ipsa eum fugiat fuga repellat. Commodi quo quo dicta. Est ullam aspernatur ut vitae quia mollitia id non. Qui ad quas nostrum rerum sed necessitatibus aut est. Eum officiis sed repellat maxime vero nisi natus. Amet nesciunt nesciunt qui illum omnis est et dolor recusandae.
  
                          Recusandae sit ad aut impedit et. Ipsa labore dolor impedit et natus in porro aut. Magnam qui cum. Illo similique occaecati nihil modi eligendi. Pariatur distinctio labore omnis incidunt et illum. Expedita et dignissimos distinctio laborum minima fugiat.
  
                          Libero corporis qui. Nam illo odio beatae enim ducimus. Harum reiciendis error dolorum non autem quisquam vero rerum neque.
                        </p>
                      </div>
                    </div>
  
                    <div id="comment-reply-2" class="comment comment-reply">
                      <div class="d-flex">
                        <div class="comment-img"><img src="/assets/img/blog/comments-4.jpg" alt=""></div>
                        <div>
                          <h5><a href="">Sianna Ramsay</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                          <time datetime="2020-01-01">01 Jan,2022</time>
                          <p>
                            Et dignissimos impedit nulla et quo distinctio ex nemo. Omnis quia dolores cupiditate et. Ut unde qui eligendi sapiente omnis ullam. Placeat porro est commodi est officiis voluptas repellat quisquam possimus. Perferendis id consectetur necessitatibus.
                          </p>
                        </div>
                      </div>
  
                    </div>
  
                  </div>
  
                </div>
  
                <div id="comment-3" class="comment">
                  <div class="d-flex">
                    <div class="comment-img"><img src="/assets/img/blog/comments-5.jpg" alt=""></div>
                    <div>
                      <h5><a href="">Nolan Davidson</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                      <time datetime="2020-01-01">01 Jan,2022</time>
                      <p>
                        Distinctio nesciunt rerum reprehenderit sed. Iste omnis eius repellendus quia nihil ut accusantium tempore. Nesciunt expedita id dolor exercitationem aspernatur aut quam ut. Voluptatem est accusamus iste at.
                        Non aut et et esse qui sit modi neque. Exercitationem et eos aspernatur. Ea est consequuntur officia beatae ea aut eos soluta. Non qui dolorum voluptatibus et optio veniam. Quam officia sit nostrum dolorem.
                      </p>
                    </div>
                  </div>
  
                </div>
              </div>
  
            </section> -->
            <!-- /Blog Comments Section -->
  
          </div>
        </div>
    </div>
    
  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>